@model IEnumerable<Ilm.CodeAudition.Service.ViewModels.EmployeeViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Employees</h2>
<div class="row-fluid">
    @foreach (var emp in Model) { 
        <div class="span6">
            <div class="hero-unit">
                <h3>@emp.Name</h3> 
                Number of Projects: <span class="badge badge-success">@emp.Timesheets.Count()</span>
                <table class="table table-striped">
                    <thead>
                        <th>Project</th>
                        <th>Total</th>
                    </thead>
                    <tbody>
                        @foreach(var t in emp.Timesheets) {
                            <tr>
                                <td>@t.ProjectName</td>
                                <td>@t.TotalHours</td>
                            </tr>
                        }
                        <tr>
                            <td colspan="2" align="right"><strong>GrandTotal: @emp.GrandTotal</strong></td>
                        </tr>
                    </tbody>
                </table>
                @Html.RouteLink("Edit Timesheets", "Timesheets", new { employeeId = emp.Id })
            </div>
        </div>
    }
</div>
    